<a href="https://colab.research.google.com/github/Mahima2208/Starbucks-Data-Analysis-and-Customer-Segmentation.ipynb/blob/main/Starbucks_Data_Analysis_and_Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Immerse yourself in the rich and diverse world of Starbucks with an enticing dataset available on Kaggle! This remarkable collection provides comprehensive information on three intriguing subjects:

* **Portfolio.csv:** This file offers a fascinating glimpse into the diverse range of offers Starbucks sends to its customers. Uncover the details of each of the 10 distinct offers, exploring their unique characteristics and parameters.

* **Profile.csv:** Discover the power of demographics as you explore this file containing data on 17,000 Starbucks customers. Unveil the key insights into their age, gender, income, and membership tenure, providing a deeper understanding of the customer base.

* **Transcript.csv:** Delve into the dynamic interactions between customers and Starbucks offers with this captivating file. Witness the customers' responses, transactions, and engagements unfold across more than 300,000 events, allowing you to gain valuable insights into their behaviors and preferences.

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import plotly.express as px

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
portfolio_df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/StarBucks/archive (2)/portfolio.csv")

In [5]:
profile_df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/StarBucks/archive (2)/profile.csv")

In [6]:

transcript_df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/StarBucks/archive (2)/transcript.csv")

In [7]:

portfolio_df.head(5)

,Unnamed: 0,reward,channels,difficulty,duration,offer_type,id
0,0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

The provided data appears to be describing different types of offers sent to customers by Starbucks. Here's a breakdown of the columns:

* reward: The reward amount associated with the offer.
* channels: The channels through which the offer is distributed, such as email, mobile, social, and web.
* difficulty: The level of difficulty or requirements customers need to meet to complete the offer.
* duration: The duration of the offer in days.
* offer_type: The type of offer, which can be "bogo" (buy one, get one), "informational" (providing information about products or events), or "discount" (providing a discount on a purchase).
* id: The unique identifier for each offer.

Based on this information, it seems that the dataset provides details about various promotional offers that Starbucks sends to its customers. The dataset includes information about the reward, channels of distribution, difficulty, duration, offer type, and unique identifiers for each offer. Analyzing this data could help understand the effectiveness of different types of offers and their impact on customer behavior and engagement.

In [8]:
profile_df.head(5)

,Unnamed: 0,gender,age,id,became_member_on,income
0,0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN
1,1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0
2,2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN
3,3,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
4,4,NaN,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN

The provided data seems to represent customer profiles or demographic information related to Starbucks. Here's a breakdown of the columns:

* gender: The gender of the customer, represented as "F" for female, "M" for male, or possibly NaN for missing or unknown values.
* age: The age of the customer.
* id: The unique identifier for each customer.
* became_member_on: The date when the customer became a member of Starbucks, represented in the format YYYYMMDD.
* income: The income of the customer.

The dataset provides information about the gender, age, unique identifier, membership start date, and income of Starbucks customers. Analyzing this data could help understand the demographics of Starbucks' customer base and their membership trends over time. Additionally, it may allow for exploring the relationship between customer attributes, such as age or income, and their engagement with Starbucks offers or transactions.

In [9]:
transcript_df.head(5)

,Unnamed: 0,person,event,value,time
0,0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

The provided data appears to be related to events and interactions between customers and offers in Starbucks. Here's a breakdown of the columns:

* person: The unique identifier for each customer.
* event: The type of event that occurred, such as "offer received," "offer viewed," "offer completed," or other possible events.
* value: Additional information or details related to the event, represented as a dictionary or object.
* time: The time or timestamp of the event, possibly in a numerical or sequential format.

The dataset captures the events and details of customers' interactions with offers, including when they received, viewed, or completed an offer. The "person" column links these events to specific customers, while the "value" column provides further information about the event, such as the specific offer ID associated with it.

Analyzing this data can help understand customer behavior and engagement with the offers provided by Starbucks. It allows for studying patterns, such as how customers respond to offers over time or which types of offers are more successful in driving customer actions.

In [10]:
transcript_df.columns

Index(['Unnamed: 0', 'person', 'event', 'value', 'time'], dtype='object')

In [11]:
portfolio_df.columns

Index(['Unnamed: 0', 'reward', 'channels', 'difficulty', 'duration',
       'offer_type', 'id'],
      dtype='object')

In [12]:
profile_df.columns

Index(['Unnamed: 0', 'gender', 'age', 'id', 'became_member_on', 'income'], dtype='object')

In [13]:
#Let's delete the unnamed column as it is of no use

portfolio_df = portfolio_df.drop('Unnamed: 0', axis=1)
profile_df = profile_df.drop('Unnamed: 0', axis=1)
transcript_df = transcript_df.drop('Unnamed: 0', axis=1)

In [48]:
# Check for same IDs in Transcript and profile
same_ids = set(transcript_df['person']).intersection(profile_df['id'])

if same_ids:
    print("There are Same Ids")
else:
    print("No common IDs found.")

There are Same Ids

In [49]:
# Check for same IDs in Transcript and portfolio
same_ids = set(transcript_df['person']).intersection(portfolio_df['id'])

if same_ids:
    print("There are Same Ids")
else:
    print("No common IDs found.")

No common IDs found.

In [50]:
# Check for same IDs in profile and portfolio
same_ids = set(profile_df['id']).intersection(portfolio_df['id'])

if same_ids:
    print("There are Same Ids")
else:
    print("No common IDs found.")

No common IDs found.

We saw that we don't have any common ids in profile and portfolio and also in profile and portfolio but in dataframe we can see one more column named value let's see if we can see some same ids but for that we have to clearly convert it from dictionary to object datatype as DataFrame doesn't take dictionary as input.

In [17]:
def extract_values(dictionary):
  dictionary=eval(dictionary)
  return list(dictionary.values())[0]

# Extract values from the dictionary column
transcript_df['value'] = transcript_df['value'].apply(extract_values)

In [18]:
transcript_df.head(5)

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,9b98b8c7a33c4b65b9aebfe6a799e6d9,0
1,a03223e636434f42ac4c3df47e8bac43,offer received,0b1e1539f2cc45b7b9fa7c272da2e1d7,0
2,e2127556f4f64592b11af22de27a7932,offer received,2906b810c7d4411798c6938adc9daaa5,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,fafdcd668e3743c1bb461111dcafc2a4,0
4,68617ca6246f4fbc85e91a2a49552598,offer received,4d5c57ea9a6940dd891ad53e9dbe8da0,0

In [51]:
# Check for same IDs in Transcript and portfolio
same_ids = set(transcript_df['value']).intersection(portfolio_df['id'])

if same_ids:
    print("There are Same Ids")
else:
    print("No common IDs found.")

There are Same Ids

In [20]:
transcript_df.isnull().sum()

person    0
event     0
value     0
time      0
dtype: int64

In [21]:
portfolio_df.isnull().sum()

reward        0
channels      0
difficulty    0
duration      0
offer_type    0
id            0
dtype: int64

In [22]:
profile_df.isnull().sum()

gender              2175
age                    0
id                     0
became_member_on       0
income              2175
dtype: int64

In [23]:
gender_na = profile_df[profile_df['gender'].isna()]
income_na = profile_df[profile_df['income'].isna()]

np.sum(gender_na['id'] == income_na['id'])

2175

In [24]:
profile_df = profile_df.dropna()

In [25]:
profile_df.isnull().sum()

gender              0
age                 0
id                  0
became_member_on    0
income              0
dtype: int64

In [26]:
profile_df.shape

(14825, 5)

In [27]:
portfolio_df.shape

(10, 6)

In [28]:
transcript_df.shape

(306534, 4)

In [29]:
profile_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14825 entries, 1 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               14825 non-null  int64
 2   id                14825 non-null  object
 3   became_member_on  14825 non-null  int64
 4   income            14825 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 694.9+ KB

In [30]:
profile_df.dtypes

gender               object
age                   int64
id                   object
became_member_on      int64
income              float64
dtype: object

In [31]:
profile_df.head(5)

   gender  age                                id  became_member_on    income
1       F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
3       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
5       M   68  e2127556f4f64592b11af22de27a7932          20180426   70000.0
8       M   65  389bc3fa690240e798340f5a15918d5c          20180209   53000.0
12      M   58  2eeac8d8feae4a8cad5a6af0499a211d          20171111   51000.0

We can see that became_member_on is actually a date but given as int64 that we need to change to date.

In [32]:
# Convert 'date_column' to datetime format

profile_df['became_member_on'] = pd.to_datetime(profile_df['became_member_on'], format='%Y%m%d')

<ipython-input-32-96d02d108bca>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profile_df['became_member_on'] = pd.to_datetime(profile_df['became_member_on'], format='%Y%m%d')

In [33]:
profile_df.head(5)

   gender  age                                id became_member_on    income
1       F   55  0610b486422d4921ae7d2bf64640c50b       2017-07-15  112000.0
3       F   75  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09  100000.0
5       M   68  e2127556f4f64592b11af22de27a7932       2018-04-26   70000.0
8       M   65  389bc3fa690240e798340f5a15918d5c       2018-02-09   53000.0
12      M   58  2eeac8d8feae4a8cad5a6af0499a211d       2017-11-11   51000.0

In [34]:
profile_df[profile_df['age']>100].count()

gender              5
age                 5
id                  5
became_member_on    5
income              5
dtype: int64

In [35]:
profile_df=profile_df[profile_df['age']<100]

In [36]:
profile_df[profile_df['age']>100].count()

gender              0
age                 0
id                  0
became_member_on    0
income              0
dtype: int64

In [37]:
profile_df[profile_df['income']<=0].count()

gender              0
age                 0
id                  0
became_member_on    0
income              0
dtype: int64

In [38]:
portfolio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reward      10 non-null     int64
 1   channels    10 non-null     object
 2   difficulty  10 non-null     int64
 3   duration    10 non-null     int64
 4   offer_type  10 non-null     object
 5   id          10 non-null     object
dtypes: int64(3), object(3)
memory usage: 608.0+ bytes

In [39]:
portfolio_df.head(5)

,reward,channels,difficulty,duration,offer_type,id
0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [40]:
portfolio_df['offer_type'].unique()

array(['bogo', 'informational', 'discount'], dtype=object)

In [41]:
portfolio_df.dtypes

reward         int64
channels      object
difficulty     int64
duration       int64
offer_type    object
id            object
dtype: object

In [42]:
transcript_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   person  306534 non-null  object
 1   event   306534 non-null  object
 2   value   306534 non-null  object
 3   time    306534 non-null  int64
dtypes: int64(1), object(3)
memory usage: 9.4+ MB

In [43]:
transcript_df.dtypes

person    object
event     object
value     object
time       int64
dtype: object

In [44]:
transcript_df.head(5)

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,9b98b8c7a33c4b65b9aebfe6a799e6d9,0
1,a03223e636434f42ac4c3df47e8bac43,offer received,0b1e1539f2cc45b7b9fa7c272da2e1d7,0
2,e2127556f4f64592b11af22de27a7932,offer received,2906b810c7d4411798c6938adc9daaa5,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,fafdcd668e3743c1bb461111dcafc2a4,0
4,68617ca6246f4fbc85e91a2a49552598,offer received,4d5c57ea9a6940dd891ad53e9dbe8da0,0

## **Exploratory Data Analysis**

Let's start some EDA for profile_df

In [45]:
profile_df.head()

   gender  age                                id became_member_on    income
1       F   55  0610b486422d4921ae7d2bf64640c50b       2017-07-15  112000.0
3       F   75  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09  100000.0
5       M   68  e2127556f4f64592b11af22de27a7932       2018-04-26   70000.0
8       M   65  389bc3fa690240e798340f5a15918d5c       2018-02-09   53000.0
12      M   58  2eeac8d8feae4a8cad5a6af0499a211d       2017-11-11   51000.0

Univariate analysis

In [47]:
# Count the number of occurrences for each gender category
gender_counts = profile_df['gender'].value_counts()

# Create a new dataframe to hold the gender counts
gender_df = pd.DataFrame({'Gender': gender_counts.index, 'Count': gender_counts.values})

# Create a bar plot using Plotly
fig = px.bar(gender_df, x='Gender', y='Count', title='Gender Distribution')
fig.show()